LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT="https://api.smith.langchain.com"
LANGSMITH_API_KEY=
LANGSMITH_PROJECT=

ANTHROPIC_API_KEY=
OPENAI_API_KEY=

E2B_API_KEY=
E2B_VARIABLES_DIR=/home/user/variables
E2B_PYTHON_AGENT_TEMPLATE_ID=